.news-list
  background-color #fff
  border-radius 2px
  margin-top 80px
  margin-bottom 30px
  min-height 100vh
  position absolute
  transition all .5s cubic-bezier(.55,0,.1,1)
  width 100%

.news-item
  background-color #fff
  border-bottom 1px solid #eee
  line-height 20px
  min-height 85px
  padding 20px 30px 20px 80px
  position relative
  > div
    opacity 0
    transition opacity .2s ease-in
  &.loaded > div
    opacity 1

.news-item .score
  color #f60
  font-size 1.1em
  font-weight 700
  position absolute
  top 50%
  left 0
  width 80px
  text-align center
  margin-top -10px

.news-item .host, .news-item .meta
  font-size .85em
  color #828282
  a
    color #828282
    text-decoration underline

.news-item .host, .news-item .time
  display inline-block
  padding-left 4px
